{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#statsTable').DataTable({
                paging: false,
                searching: false,
                lengthChange: false
            });
            $('#datepick').datetimepicker({
                format: "YYYYMM",
                minDate: new Date("2018-12-31"),
                maxDate: new Date()
            });
        });
    </script>

    <style>
        .shadow-effect {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            padding: 1rem !important;
            margin-bottom: 3rem !important;
            border-radius: 1rem !important;
        }
    </style>
{% endblock head %}
{% block main %}
    <div class="alert alert-info" role="alert">
        {{ _('feature-warn') }}
    </div>
    {% if data is none %}
        <div class="shadow-effect">
            <form id="form-content" method="get" action="{{ url_for('activeuser') }}">
                <div class="form-group">
                    <label for="project">{{ _('proj-name') }}:</label>
                    <select class="form-control" id="project" name="project">
                        <option value="as">{{ _('lang-as') }}</option>
                        <option value="bn">{{ _('lang-bn') }}</option>
                        <option value="gu">{{ _('lang-gu') }}</option>
                        <option value="hi">{{ _('lang-hi') }}</option>
                        <option value="kn">{{ _('lang-kn') }}</option>
                        <option value="ml">{{ _('lang-ml') }}</option>
                        <option value="mr">{{ _('lang-mr') }}</option>
                        <option value="or">{{ _('lang-or') }}</option>
                        <option value="pa">{{ _('lang-pa') }}</option>
                        <option value="sa">{{ _('lang-sa') }}</option>
                        <option value="ta">{{ _('lang-ta') }}</option>
                        <option value="te">{{ _('lang-te') }}</option>
                    </select>
                </div>
                <div class="form-group" style="position: relative">
                    <label for="datepick">{{ _('month-name') }} <small><small>({{ _('date-format') }})</small></small>:</label>
                    <input class="form-control" id="datepick" name="month" type="text">
                </div>
                <button type="submit" class="btn btn-primary subBtn">{{ _('submit') }}</button>
            </form>
        </div>
    {% elif data is not none %}
        <a href="{{ url_for('activeuser') }}" style="font-size:1.4em;">
            <i class="fa fa-arrow-left"></i> {{ _('back') }}
        </a>
        <br>
        <br>
        <p>{{ _('data-not-none') }}</p>
        <table id="statsTable"class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
            <thead> 
            <tr>
                <th class="th-sm">{{ _('user') }}
                </th>
                <th class="th-sm">{{ _('proofread') }}s
                </th>
                <th class="th-sm">{{ _('validations') }}
                </th>
            </tr>
            </thead>
            <tbody>
                {% for user in data %}
                    <tr>
                        <td><a target="_blank" href="https://{{project}}.wikisource.org/wiki/User:{{user}}">{{user}}</a></td>
                        <td>{{ data[user]["proofread"] }}</td>
                        <td>{{ data[user]["validate"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tbody>
                <tr>
                    <td><p style="font-weight: bold;"> {{ _('tot') }} </p></td>
                    <td><p style="font-weight: bold;">{{ total["proofread"] }}</p></td>
                    <td><p style="font-weight: bold;">{{ total["validate"] }}</p></td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock main  %}