{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='Chart.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='Chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='graphChart.js') }}"></script>
{% endblock head %}

{% block main %}
    <div id="graph-charts">
        <div id="percentage">
            <h2>By Percentage</h2>
            <h3>Proofread</h3>
            <canvas id="bar-proofreadper" style="border:1px solid;"></canvas>
            <h3>Transcluded</h3>
            <canvas id="bar-transcludedper" style="border:1px solid"></canvas>
        </div>
        <br><br>
        <div id="pagenamespace">
            <h2>By Page namespace</h2>
            <h3>All pages</h3>
            <canvas id="bar-pagenamespace" style="border:1px solid;"></canvas>
            <h3>Without text</h3>
            <canvas id="bar-withouttext" style="border:1px solid"></canvas>
            <h3>Not proofread</h3>
            <canvas id="bar-notproofread" style="border:1px solid"></canvas>
            <h3>Problematic</h3>
            <canvas id="bar-problematic" style="border:1px solid"></canvas>
            <h3>Proofread Pages</h3>
            <canvas id="bar-proofread" style="border:1px solid"></canvas>
            <h3>Validated</h3>
            <canvas id="bar-validated" style="border:1px solid"></canvas>
        </div>
        <br><br>
        <div id="mainnamespace">
            <h2>By Main namespace</h2>
            <h3>All pages</h3>
            <canvas id="bar-mainpage" style="border:1px solid;"></canvas>
            <h3>With scans</h3>
            <canvas id="bar-withscan" style="border:1px solid"></canvas>
            <h3>Without scans</h3>
            <canvas id="bar-withoutscan" style="border:1px solid"></canvas>
        </div>
    </div>
{% endblock main %}