{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#statsTable').DataTable({
                paging: false,
                searching: false,
                lengthChange: false
            });
        });
    </script>
    <style type="text/css">
        .quality4 {
            background: #90ff90;
        }

        .quality3 {
            background: #ffe867;
        }

        .quality2 {
            background: #b0b0ff;
        }

        .quality1 {
            background: #ffa0a0;
        }

        .quality0 {
            background: #dddddd;
        }

        .withscans {
            background: #c0c0ff;
        }

        .naked {
            background: #ffa0a0;
        }

        .disamb {
            background: #dddddd;
        }

    </style>
{% endblock head %}

{% block main %}
    <p> Statistics on <b> {{ data["timestamp"] }} </b> </p>
    <table id="statsTable" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th colspan="7" style="text-align:center">Page namespace</th>
            <th colspan="4" style="text-align:center">Main namespace</th>
        </tr>
        <tr>
            <th class="th-sm">Language
            </th>
            <th class="th-sm">All pages
            </th>
            <th class="th-sm quality0">Without text
            </th>
            <th class="th-sm quality1">Not proofread
            </th>
            <th class="th-sm quality2">Problematic
            </th>
            <th class="th-sm quality3">Proofread
            </th>
            <th class="th-sm quality4">Validated
            </th>
            <th class="th-sm">All pages
            </th>
            <th class="th-sm withscans">With scans
            </th>
            <th class="th-sm naked">Without scans
            </th>
            <th class="th-sm">%
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dbname in data %}
            {% if 'timestamp' not in dbname %}
                <tr>
                    <td>{{ dbname }}</td>
                    <td>{{ data[dbname]["Num_of_pages"] }}</td>
                    <td>{{ data[dbname]["Without_text"] }}</td>
                    <td>{{ data[dbname]["Not_proofread"] }}</td>
                    <td>{{ data[dbname]["Problematic"] }}</td>
                    <td>{{ data[dbname]["Proofread"] }}</td>
                    <td>{{ data[dbname]["Validated"] }}</td>
                    <td>{{ data[dbname]["Main_Pages"] }}</td>
                    <td>{{ data[dbname]["Main_WithScan"] }}</td>
                    <td>{{ data[dbname]["Main_WithOutScan"] }}</td>
                    <td>{{ (100* data[dbname]["Main_WithScan"] / ( data[dbname]["Main_WithScan"] + data[dbname]["Main_WithOutScan"] ) ) |round(2) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for("wikitable") }}'">Get
        Wikitable
    </button>
{% endblock %}